@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(44, 204, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow-y: hidden;
}
.cuadrado-juego {
    position: relative;
    background-color: rgba(212, 233, 25,0.50);
    width: 700px;
    height: 400px;
    border-radius: 30px;
}
.palabra {
    width: 100%;
    height: 20%;
    background-color: rgb(226, 227, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
}
.letra {
    width: 60px;
    height: 60px;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.letra h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
}
.teclado {
    width: 100%;
    background-color: rgb(44, 39, 39);
    height: 80%;
    position:absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
    padding: 15px;
}

.tecla {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border-radius: 10px;
    user-select: none;
}
.tecla h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}
.abierto {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.ganador {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    color: rgb(20, 77, 25);
    display: none;
    position: absolute;
}
.perdedor {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    color: white;
    display: none;
    position: absolute;
}
.z {
    grid-column-start: 2;
}
.ahorcado {
    background-image: url("img/-1.png");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    position: absolute;
}